In [3]:
import os
import pandas as pd

# Define the folder path
folder_path = 'C:/MS_AAI/CornellMovie/'

# Initialize a dictionary to store file content
data = {}

# Loop through each file in the directory
for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)
        with open(file_path, 'r', encoding='utf-8', errors='replace') as file:
            content = file.readlines()  # Read each line
        data[file_name] = content

df = pd.DataFrame(dict([(k, pd.Series(v)) for k, v in data.items()]))

# Load completed
# Load completed
print("Data loaded successfully!")
#print(df.head())

Data loaded successfully!

In [4]:
print("1. Basic Information:")
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")
print("\n2. Data Types:")
print(df.dtypes)
print("\n3. Missing Values:")
print(df.isnull().sum())
print("\n4. Descriptive Statistics:")
display(df.describe().T)
print("\n5. Sample Data (first 5 rows):")
display(df.head())

1. Basic Information:
Number of rows: 304713
Number of columns: 5

2. Data Types:
movie_characters_metadata.txt    object
movie_conversations.txt          object
movie_lines.txt                  object
movie_titles_metadata.txt        object
raw_script_urls.txt              object
dtype: object

3. Missing Values:
movie_characters_metadata.txt    295678
movie_conversations.txt          221616
movie_lines.txt                       0
movie_titles_metadata.txt        304096
raw_script_urls.txt              304096
dtype: int64

4. Descriptive Statistics:

,count,unique,top,freq
movie_characters_metadata.txt,9035,9035,u0 +++$+++ BIANCA +++$+++ m0 +++$+++ 10 things...,1
movie_conversations.txt,83097,83097,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L194', 'L19...",1
movie_lines.txt,304713,304713,L1045 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++...,1
movie_titles_metadata.txt,617,617,m0 +++$+++ 10 things i hate about you +++$+++ ...,1
raw_script_urls.txt,617,617,m0 +++$+++ 10 things i hate about you +++$+++ ...,1

5. Sample Data (first 5 rows):

,movie_characters_metadata.txt,movie_conversations.txt,movie_lines.txt,movie_titles_metadata.txt,raw_script_urls.txt
0,u0 +++$+++ BIANCA +++$+++ m0 +++$+++ 10 things...,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L194', 'L19...",L1045 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++...,m0 +++$+++ 10 things i hate about you +++$+++ ...,m0 +++$+++ 10 things i hate about you +++$+++ ...
1,u1 +++$+++ BRUCE +++$+++ m0 +++$+++ 10 things ...,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L198', 'L19...",L1044 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON ++...,m1 +++$+++ 1492: conquest of paradise +++$+++ ...,m1 +++$+++ 1492: conquest of paradise +++$+++ ...
2,u2 +++$+++ CAMERON +++$+++ m0 +++$+++ 10 thing...,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L200', 'L20...",L985 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$...,m2 +++$+++ 15 minutes +++$+++ 2001 +++$+++ 6.1...,m2 +++$+++ 15 minutes +++$+++ http://www.daily...
3,u3 +++$+++ CHASTITY +++$+++ m0 +++$+++ 10 thin...,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L204', 'L20...",L984 +++$+++ u2 +++$+++ m0 +++$+++ CAMERON +++...,m3 +++$+++ 2001: a space odyssey +++$+++ 1968 ...,m3 +++$+++ 2001: a space odyssey +++$+++ http:...
4,u4 +++$+++ JOEY +++$+++ m0 +++$+++ 10 things i...,"u0 +++$+++ u2 +++$+++ m0 +++$+++ ['L207', 'L20...",L925 +++$+++ u0 +++$+++ m0 +++$+++ BIANCA +++$...,m4 +++$+++ 48 hrs. +++$+++ 1982 +++$+++ 6.90 +...,m4 +++$+++ 48 hrs. +++$+++ http://www.awesomef...